.tab-active {
  background: #e7e7e7;
  border-radius: 28px 28px 0 0;
  padding: 26px 88px 26px 40px;
}
.tab-active::after {
  content: "";
  position: absolute;
  top: 0;
  right: -48px;
  width: 70px;
  height: 100%;
  background: #e7e7e7;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
